
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/
input {
  display:flex;
  margin-bottom:20px;
  width:500px;
}

textarea{
  display:flex;
  margin-bottom:20px;
  width:500px;
  height:100px;
}
